{% extends "base.html" %}
{% block page_content %}

<h1> {{header}}  </h1>

  <div class="row">
      <div class="col-sm-2">
          <a class="btn btn-default" href={{link}}> Open the article </a>

      </div>
      <div class="col-sm-2">

<form method="post" action="{{ url_for('clean_article') }}">
    <input type="hidden" readonly="readonly" name="link_field" size="100" value="{{link}}" />
    <input type="submit" value=" Show clean version" />

</form>

      </div>
  </div>

  <div class="jumbotron">


          <h2> Article has {{count_s}} sentences and {{count_w}} words  </h2>
      <div class="row">
          <div class="col-md-1">
          </div>

          <div class="col-md-4">
          <h2> 3 top sentences </h2>
          {% for s in summary %}
          <ul>
              <li><b>{{s}}</b></li>
          </ul>
          {% endfor%}



              </div>
          <div class="col-md-2">

          </div>
          <div class="col-md-4">
               <h2>Key words </h2>


{% for k in key_chunnks%}
<ul>
    <li><b>{{k[0]}}</b></li>

</ul>
{% endfor%}

          </div>
          </div>

      </div>

  </div>
<!--
<h3>Authors:</h3>
{% for a in authors%}
<ul>
 <li>{{a}}</li>

</ul>
{% endfor%}
<h3>Publish date</h3>
<p>{{publish_day}} </p>
-->
<h2> Article has {{img_count}} image(s)</h2>
<h3>Similarity news articles </h3>
{% for sp in sim_posts %}
<ul>

    <li><h3>{{sp.title}}</h3> <a href={{sp.link}}> {{sp.link}}</a></li>
 </ul>

{% endfor%}


{% endblock %}
